/******************************************************************************
 * WATS1010: Introduction to Web Development
 * Embedded Media Assignment
 *
 * Site Styles
 *****************************************************************************/

/* GENERAL */

html {
	padding: 0;
}
body {
	width: 1200px;
    margin: 0 auto;
	font-family: 'Copperplate Gothic Light', Copperplate, fantasy;
	background-color: #3FB319;
}
/* ALTERNATIVE HEADER*** 
header {
	background-image: url('../img/official_header.jpg');
	min-height: 400px;
	background-repeat: no-repeat;
	background-position: center, center;
	background-size: cover;
} */

/* HEADER */
.top-title {
	margin-bottom: 0;
	font-size: 50px;
	text-shadow: 2px 2px 6px #250DEC
}
.subtitle {
	margin: 0;
	float: left;
}
.main-nav li {
	display: inline;
	padding: 15px 75px 3px 5px;
	font-size: 40px;
}
.main-nav {
	margin-top: 0px;
	margin-bottom: 0;
	margin-left: 250px;
}

/* HEADER-VID */
.header-vid-cont {
	width: 1200px;
	background-color: #3FB319;
}

/* SOCIAL */

#social {
	position: fixed;
	float: right;
	padding: 0;
	width: 300px;
	height: 100px;
	overflow: hidden;
	top: 0;
	right: 0;
	background-image: url('../img/monkaa_monkeyhang.jpg');
	background-size: cover;
	margin-right:-155px;
	transition: margin 2s;
}
#social:hover {
	margin-right: 0;
}
#social h2 {
	margin-top: 0;
	text-align: right;
	margin-right: 80px;
}
#social ul {
	list-style-type: none;
	padding: 0;
	margin-right: 5px;
}
#social li {
	display: inline;
	margin-left: 0;
	float: right;
	padding: 5px;
}

/* WATCH */

#watch {
	background-image: url('../img/monkaa_title.jpg');
	background-position: center, center;
	background-size: cover;
	text-align: center;
	padding-bottom: 50px;
}
.sec-header {
    margin: 0 auto;
    width: 350px;
    text-align: center;
	font-size: 65px;
	background-color: rgba(500, 500, 500, 0.7);
}
.sec-container{
    width: 800px;
	padding-bottom: 8px;
	margin: auto;
	background-color: rgba(500, 500, 500, 0.7);
}
#watch h3 {
	font-size: 50px;
	margin: 0 auto;
}
#watch p {
	margin: 0px 200px 20px 200px;
}
.download-button {
	padding: 8px 8px 6px 8px;
	border: 1px solid red;
	background-color: rgba(500, 0, 0, 0.6);
	border-radius: 25px;
    width: 800px;
}
.download-button:link {
	color: black;
	font-weight: 
}

/* LISTEN */

#listen {
	background-color: #D6B8B8;
	margin: 0 auto;
	padding-bottom:20px;
	text-align: center;
}
#listen audio {
	margin: 10px 450px 10px 450px;
}


/* ABOUT */

#about {
	background-image: url('../img/monkey_crystal.jpg');
	background-repeat: no-repeat;
	background-position: center, center;
	background-size: cover;
	padding-bottom: 18px;
}
#about-cont {
	width: 1200px;
	padding-bottom: 8px;
	margin: auto;
	background-color: rgba(500, 500, 500, 0.5);
}
.lead {
	background-color: rgba(500, 500, 500, 0.5);
    font-size: 20px;
    padding: 5px 15px 0 15px;
    text-align: center;
    font-family: "papyrus", "monospace";
}
.about-p {
	margin-left: 20px;
	margin-right: 20px;
	font-family: "Helvetica Neue", "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
}
.weybec-people {
	list-style: none;
}
.weybec-people li {
	float: left;
	max-width: 400px;
	width: 33%;
	text-align: center;
	margin-bottom: 16px;
}
.weybec-people img {
	width: 250px
}
.weybec-people + p {
	clear: both;
}

/* FOOTER */

footer p {
	background-color: #A983A9;
}